.footer {
  margin: 48px 0 0;
  display: flex;
  justify-content: center;
}


.footer > button {
  color: white;
  border: none;
  background-color: #5657F8;
  padding: 18px 36px;
  border-radius: 28px;
  text-transform: uppercase;
  box-shadow: 0 8px 8px -4px #CCCCCC;
}

.footer > button:hover {
  cursor: pointer;
}
