.seats {
  font-size: 14px;
  border-bottom:1px solid #EBEBEB;
  padding-bottom: 16px;
  box-shadow: 0 8px 6px -6px #CCCCCC;
}

.section-name {
  font-weight: 500;
  color: #999999;
}

.row {
  display: flex;
  padding: 8px 0;
}

.row .row-name {
  color: #AAAAAA;
}

.row > .row-left {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.row > .row-right {
  flex: 1;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  align-items: center;
}

.row-left > .seats-list {
  padding-right: 10px;
}

.row-right > .seats-list {
  padding-left: 10px;
}

.seats-list {
  display: flex;
}

.seats-list > .seat-item {
  width: 32px;
  height: 32px;
  background-color: #999999;
  margin: 0 8px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 7pt;
  color: #CCCCCC;
  border: none;
}

.seats-list > .seat-item:focus {
  outline: none;
}

.seats-list > .unavailable {
  background-color: #eaeaea !important; 
}

.seats-list > .selected {
  background-color: #5657F8 !important;
  color: white !important;
}

.seats-list > .seat-item:hover {
  cursor: pointer;
}